@page "/checkout/{product}"
@inherits CheckoutPage

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Checkout</MudText>
    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="7">
            <MudText Typo="Typo.h5" GutterBottom="true">Pagamento</MudText>
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudPaper Style="width: 100%" Class="pa-8 d-flex justify-center align-center">
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8">
                            PAGAR COM STRIPE
                        </MudButton>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="5">
            <MudText Typo="Typo.h5" GutterBottom="true">Carrinho</MudText>
            <MudPaper Class="d-flex flex-column" Outlined="true">
                <MudList>
                    <MudListItem Icon="@Icons.Material.Filled.Star">
                        <div class="d-flex">
                            <MudText>PRODUCT TITLE</MudText>
                            <MudText Inline="true" Class="ml-auto">R$ 799,90</MudText>
                        </div>
                    </MudListItem>
                    <MudDivider/>
                    <MudListItem Icon="@Icons.Material.Filled.Discount">
                        <MudTextField T="string" Placeholder="Cupom de Desconto"
                                      Mask="mask"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@Icons.Material.Filled.FactCheck"
                                      OnAdornmentClick="@(() => { })"/>
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.MoneyOff">
                        <div class="d-flex">
                            <MudText>Desconto</MudText>
                            <MudText Class="ml-auto">$12</MudText>
                        </div>
                    </MudListItem>
                </MudList>
                <div class="mt-auto">
                    <MudDivider/>
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto">
                            <b>$53</b>
                        </MudText>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

    

}